[submodule "zing/vendor/base-php"]
	path = zing/vendor/base-php
	url = git://github.com/jaz303/base-php.git
[submodule "zing/vendor/phake"]
	path = zing/vendor/phake
	url = git://github.com/jaz303/phake.git
[submodule "zing/vendor/ztest"]
	path = zing/vendor/ztest
	url = git://github.com/jaz303/ztest
