.asset-dialog-wrapper { position: fixed; top: 60px; left: 60px; right: 60px; bottom: 60px; background: rgba(0, 0, 0, 0.6); border-radius: 10px; }

.asset-dialog { position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; background: white; }

.asset-dialog-title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 250px;
  height: 31px;
  background: white;
}


.asset-dialog-tabs {
  height: 30px;
  border-bottom: 1px solid #909090;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8), color-stop(0.5, #d0d0d0));
}

.asset-dialog-tabs li {
  display: block;
  list-style: none;
  float: left;
  border-right: 1px solid #909090;
}

.asset-dialog-tabs a {
  display: block;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #303030;
  text-shadow: 0 1px 0 white;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f0f0f0), color-stop(0.5, #c0c0c0));
}

.asset-dialog-tabs a:active {
  color: white;
  text-shadow: 0 1px 0 black;
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#505050), color-stop(0.5, #686868));
}

.asset-dialog-main {
  position: absolute;
  top: 31px;
  bottom: 50px;
  left: 0;
  right: 250px;
  
}

.asset-dialog-places {
  font-size: 11px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 199px;
  bottom: 0;
  background: #dde4eb;
  border-right: 1px solid #d0d0d0;
  overflow: auto;
}

.asset-dialog-places dl { padding: 0 10px 10px 10px; }
.asset-dialog-places dt { font-weight: bold; text-transform: uppercase; color: #616161; margin: 10px 0 5px 0; }
.asset-dialog-places dd { margin: 2px 0 2px 5px; }
.asset-dialog-places a { color: black; text-decoration: none; display: block; padding: 3px 5px; background: no-repeat; border-radius: 2em; text-shadow: 0 1px 0 white; }
  .asset-dialog-places a:hover { color: black; text-decoration: none; background: #545E7B; color: white; text-shadow: 0 1px 0 black; }
  .asset-dialog-places img { vertical-align: middle; }
  
.asset-dialog-places ul { margin: 0; padding: 0; }
.asset-dialog-places ul ul { margin-left: 15px; }
.asset-dialog-places li { margin: 2px 0; padding: 0; display: block; list-style: none; }
.asset-dialog-places li.active > a { background: #7487A6; color: white; text-shadow: 0 1px 0 #404040; }


.asset-dialog-path {
  position: absolute;
  bottom: 0;
  left: 200px;
  right: 0;
  height: 11px;
  line-height: 1;
  padding: 4px 5px 5px 5px;
  background: #dde4eb;
  border-top: 1px solid #d0d0d0;
}

.asset-dialog-browser {
  
}

.asset-dialog-sidebar { position: absolute; top: 0; right: 0; width: 249px; bottom: 50px; border-left: 1px solid #d0d0d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#f0f0f0), color-stop(10%, #f0f0f0));
  }
  
  .asset-dialog-sidebar-inner { padding: 10px; }
  
  .asset-dialog-sidebar .asset-dialog-tabs li:last-child { border-right: none }
  
  .asset-dialog-tab-preview,
  .asset-dialog-tab-selection { width: 124px; }
  
  .asset-dialog-tab-preview a,
  .asset-dialog-tab-selection a { padding-left: 0; padding-right: 0; }
  
  .asset-dialog-sidebar h2 { color: #303030; font-size: 12px; margin: 0 0 10px 0; text-shadow: 0 1px 0 white; }
  
  .asset-dialog-preview-pane {
    height: 160px;
    border: 1px solid #cdcdcd;
    margin: 0 0 10px 0;
    background: #f0f0f0;
  }
  
  .asset-dialog-preview-meta {
    font-size: 11px;
    margin: 10px 0;
  }
  .asset-dialog-preview-meta th,
  .asset-dialog-preview-meta td { padding: 0 3px 3px 3px; }
  
  .asset-dialog-preview-meta th {
    text-align: right;
    color: #404040;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
    margin: 0 0 1px 0;
  }
  
.asset-dialog-footer { position: absolute; bottom: 0; left: 0; right: 0; height: 49px; text-align: right; border-top: 1px solid #d0d0d0; }
  .asset-dialog-footer table { width: 100%; }
  .asset-dialog-footer td { height: 50px; vertical-align: middle; padding: 0 10px; }
  .asset-dialog-path { font-size: 11px; }
    .asset-dialog-path .separator { color: #808080 }
  .asset-dialog-buttons { text-align: right; }